@import url('variaveis.css');
/* 
colocar informações padronizadas para todas as telas */
/* HEADER */
header {
    background: #d63384; /* rosa profissional */
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Logo / título */
header p {
    font-size: 22px;
    font-weight: bold;
}

/* Menu */
nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

/* Links */
nav ul a li {
    color: rgb(252, 250, 250);
    font-weight: 500;
    padding: 6px 10px;
    border-radius: 8px;
    transition: 0.3s;
}

nav a {
    text-decoration: none;
}

/* Hover */
nav ul li a:hover {
    background: rgba(255, 255, 255, 0.2);
}

/* Responsivo */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Fundo geral */
body {
    background: linear-gradient(135deg, #fff0f6, #f8d7e5);
    color: #333;
}


